@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
  --surface-stone: #eaeaec;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
